In [2]:
print("hello world")

hello world

In [3]:
# 문자출력
print("안녕, 한국직업교육학원")

안녕, 한국직업교육학원

In [8]:
# 숫자출력
print(100)
print("100")
a=100
b="100"
print(a==b)

100
100
False

In [12]:
# 산술 연산자 

print(100+200)
print(100-200)
print(100*200)

300
-100
20000

In [16]:
# 나머지 연산자 
print(10%3)
print(10/3)

# 거듭제곱 
print(10**2)

# 제곱근 
print(100**0.5)

1
3.3333333333333335
100
10.0

In [ ]:
# 산술연산자 우선순위
print((4+3)*5)

35

In [22]:
# 문자 더하기
print("안녕"+"하세요")
print("안녕"*3)

# 문자 + 숫자 
print("안녕" + 100)

안녕하세요
안녕안녕안녕

TypeError: can only concatenate str (not "int") to str

In [23]:
### 자료형

In [24]:
# 정수형

type(100)

int

In [25]:
# 실수형
type(100.0)

float

In [29]:
# 문자열
print(type("안녕하세요"))
print(type("100"))
print(type(100))

<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
# 같지만 다른 숫자 
print(type(3))
print(type(3.0))

<class 'int'>
<class 'float'>

In [ ]:
# 참과 거짓 
# 첫글자는 반드시 대문자이어야 합니다. 
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [33]:
print(True + True + True)
print(False + False + False)

3
0

In [35]:
### 변수 

americano = 4500 

print(americano)
print("americano")

4500
americano

In [36]:
# 변수 연산 
latte = 5000

print(americano + latte)

9500

In [38]:
result = latte - americano
print(result)

500

In [ ]:
# 변수 업데이트
americano = 4500 
americano = americano + 1000 

print(americano)

5500

In [40]:
### 자료형 변환

In [41]:
a = 2 
b = 0.17 

a = a + b 
print(type(a))

<class 'float'>

In [42]:
### 비교연산자

In [43]:
# 크다 >
# 크거나같다(이상) >= 
# 작다 < 
# 작거나같다(이하) <=  
# 같다 ==  
# 다르다 !=

In [50]:
# 참조건 
print(10 > 5 )
print(10 < 5)
print(10 >= 10)
print(10 <= 10)
print(10 == 10)
print(10 != 10)
print( 10 = 10)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (723833326.py, line 8)

In [53]:
### 조건문 

score = 90

if score >= 90:
    print("A") 
else:
    print("B")

A

In [54]:
점수 = 87 

if 점수 >= 90:
    print("A")
elif 점수 >= 80:
    print("B")
elif 점수 >= 70: 
    print("C")
else:
    print("F") 


print("안녕하세요")

B
안녕하세요

In [55]:
# 조건문의 구성 

score = 2 

if score >= 10: 
    print("score가 10이상입니다.")
elif score < 10 and score >= 5:
    print("score가 5이상 10미만입니다.")
elif score < 5 and score >= 3:
    print("score가 3이상 5미만입니다.")
else: 
    print("score가 3미만입니다.")

score가 3미만입니다.

In [ ]:
### 리스트
## 여려개의 값을 저장할 수 있는 자료형

In [60]:
# 리스트 생성 
listbox = ["사과", "바나나", "딸기"]
print(type(listbox))
print(listbox)

<class 'list'>
['사과', '바나나', '딸기']

In [61]:
# 리스트 첫번째 값 가져오기(인덱싱)
print(listbox[0])
print(listbox[1])

사과
바나나