In [ ]:
import pandas as pd
import numpy as np

df= pd.DataFrame({
    "메뉴": ["아메리카노", "카페라떼", "에스프레소", "카페모카", "바닐라라떼"], 
    "가격": [4500, 5000, 4000, 5900, 5300], 
    "칼로리": [10, 110, np.nan, 210, np.nan],
    "원두": ["과테말라", "브라질", "과테말라", np.nan, np.nan]
})

df

In [ ]:
#1. 칼로리 컬럼의 결측치를 칼로리 데이터 중 최솟값을 채우시오 
#2. 원두 컬럼의 켤측치를 원산지 데이터 중 최빈값을 채우시오 
#3. 가격이 15,000원 이상인 데이터 수를 구하시오 
#4. "이벤트가" 컬럼을 만들고 기존 가격에서 50% 할인된 가격을 채우시오
#5. "칼로리" 컬럼을 삭제하시오