In [1]:
import pandas as pd
import numpy as np

df= pd.DataFrame({
    "메뉴": ["아메리카노", "카페라떼", "에스프레소", "카페모카", "바닐라라떼"], 
    "가격": [4500, 5000, 4000, 5900, 5300], 
    "칼로리": [10, 110, np.nan, 210, np.nan],
    "원두": ["과테말라", "브라질", "과테말라", np.nan, np.nan]
})

df

      메뉴    가격    칼로리    원두
0  아메리카노  4500   10.0  과테말라
1   카페라떼  5000  110.0   브라질
2  에스프레소  4000    NaN  과테말라
3   카페모카  5900  210.0   NaN
4  바닐라라떼  5300    NaN   NaN

In [ ]:
#1. 칼로리 컬럼의 결측치를 칼로리 데이터 중 최솟값을 채우시오 
#2. 원두 컬럼의 켤측치를 원산지 데이터 중 최빈값을 채우시오 
#3. 가격이 15,000원 이상인 데이터 수를 구하시오 
#4. "이벤트가" 컬럼을 만들고 기존 가격에서 50% 할인된 가격을 채우시오
#5. "칼로리" 컬럼을 삭제하시오

In [ ]:
#6. 위에서부터 3개의 행만 선택하시오(loc사용)
#7. 위에서부터 3개의 행만 선택하시오(iloc사용)
#8. 주어진 데이터에서 아래 값을 loc를 활용해 데이터프레임으로 출력하시오 
#    * 카페라떼 5000
#    * 에스프레소 4000 
#9. 주어진 데이터(df)에서 아래 값을 iloc를 활용해 데이터프레임으로 출력하시오 
#    * 카페라떼 5000
#    * 에스프레소 4000 
#10. 메뉴 중 가격이 가장 비싼 순으로 정렬해 3개의 값을 구하시오