In [11]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

# 1. "f3" 컬럼이 gold 이면서 "f2" 컬럼이 2인 데이터를 찾으시오 
# 2. 찾은 데이터에서 "f1" 컬럼의 분산을 구하시오. (반올림 후 소수 둘째 자리까지 계산)

In [13]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

In [18]:
# 1. "f3" 컬럼이 gold 이면서 "f2" 컬럼이 2인 데이터를 찾으시오 
cond1 = df["f3"] == "gold"
cond2 = df["f2"] == 2 

result1 = df[cond1 & cond2]

In [22]:
# 2. 찾은 데이터에서 "f1" 컬럼의 분산을 구하시오. (반올림 후 소수 둘째 자리까지 계산)

result2 = result1["f1"].var()
result2 = round(result2, 2)
result2

np.float64(235.43)