In [1]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

# 1. 모든 나이(age)에 1을 더하시오. 
# 2. 20대의 "views" 평균과 30대의 "views" 평균의 차이의 절대값을 구하시오.
# (반올림 후 소수 둘째 자리까지 계산)

In [4]:
# 1. 모든 나이(age)에 1을 더하시오. 
df["age"].describe()
df["age"] = df["age"] + 1
df["age"]

0       3.0
1      10.0
2      28.0
3      76.0
4      25.0
       ...
115    23.0
116    24.0
117    24.0
118    24.0
119    25.0
Name: age, Length: 120, dtype: float64

In [5]:
# 2. 20대의 "views" 평균과 30대의 "views" 평균의 차이의 절대값을 구하시오.
# (반올림 후 소수 둘째 자리까지 계산)

df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   3.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02  10.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  28.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  76.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  25.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

In [9]:
# 20대의 데이터 

cond_20 = (df["age"] >= 20) & (df["age"] < 30)
cond_30 =( df["age"] >= 30) & (df["age"] < 40 )
df_20 = df[cond_20]
df_30 = df[cond_30]

In [14]:
a = df_20["views"].mean()

In [15]:
b = df_30["views"].mean()

In [19]:
round(abs(b-a), 2)

np.float64(263.13)