In [1]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

# 1. "views" 컬럼 값이 1000이하인 데이터(결측치 제외)를 찾으시오. 
# 2. 앞에서 구한 데이터 중 "f4" 컬럼의 최빈값을 구하시오.

In [2]:
df.head(1)

     id  age city  f1  f2    f3    f4         f5  subscribed   views
0  id01  2.0   서울 NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0

In [3]:
cond = df["views"] <= 1000

In [4]:
cond

0      False
1      False
2      False
3       True
4      False
       ...
115    False
116    False
117    False
118    False
119    False
Name: views, Length: 120, dtype: bool

In [6]:
df = df[cond]

In [7]:
df.head()

      id   age city    f1  f2   f3    f4         f5  subscribed  views
3   id04  75.0   서울   NaN   2  NaN  INFP  52.667078  2024-07-21  493.0
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378  2024-01-11   61.0
30  id30  16.0   부산   NaN   0  NaN  ESTJ  17.252986  2024-05-28  240.0
44  id44  44.0   대구   NaN   0  NaN  INTP  16.283854  2024-11-10  546.0
61  id61  87.0   경기  62.0   2  NaN  INTP  69.730313  2024-02-03  218.0

In [12]:
result2 = df["f4"].mode()[0]
result2

'ISFJ'

In [14]:
df["f4"].value_counts()

f4
ISFJ    3
INFP    2
ESTJ    2
INTP    2
ISFP    1
Name: count, dtype: int64