In [1]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

#1. 데이터에서 결측치가 있는 데이터(행)를 삭제하시오. 
#2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70%데이터를 구하시오.
#3. 앞에서 구한 70% 데이터 중 "views" 컬럼의 3사분위수에서 1사분위수 뺀 값을 정수로 구하시오

In [2]:
#1. 데이터에서 결측치가 있는 데이터(행)를 삭제하시오.
print("결측치 확인 ", df.isnull().sum())
df.dropna(inplace = True)
print("결측치 확인 ", df.isnull().sum())

결측치 확인  id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64
결측치 확인  id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

In [5]:
#2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70%데이터를 구하시오.

df.shape
len_7 = len(df) * 0.7
len_7

49.0

In [6]:
df.head()

       id   age city     f1  f2      f3    f4         f5  subscribed    views
2    id03  27.0   서울   61.0   1    gold  ISTJ  17.252986  2024-03-16   7312.0
5    id06  22.0   서울   57.0   0     vip  INTP  20.129444  2024-09-12  21550.0
7    id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
9    id10  95.0   서울   74.0   1    gold  ISFP  98.429899  2024-04-03   9992.0
10  id100  47.0   경기   53.0   0     vip  ESFP  33.308999  2024-02-21  15535.0

In [11]:
df = df.iloc[0:int(len_7)]
df.shape

(49, 10)

In [16]:
#3. 앞에서 구한 70% 데이터 중 "views" 컬럼의 3사분위수에서 1사분위수 뺀 값을 정수로 구하시오 

q_3 = df["views"].quantile(0.75)
print(q_3)

q_1 = df["views"].quantile(0.25) 
print(q_1)

result = int(q_3 - q_1)
result

8628.0
5857.0

2771