In [1]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

#1. 결측치가 가장 많은 두 컬럼을 찾으시오 
#2. 첫 번째로 결측치가 많은 컬럼에서 결측치가 있는 데이터(행)를 삭제하시오 
#3. 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체하시오 
#4. "f3" 컬럼의 "gold" 값을 가진 데이터의 수를 정수형으로 구하시오

In [9]:
#4. "f3" 컬럼의 "gold" 값을 가진 데이터의 수를 정수형으로 구하시오 

cond = df["f3"] == "gold"
sum(cond)

63

In [10]:
df["f3"].value_counts()

f3
gold      63
silver    15
vip       11
Name: count, dtype: int64

In [7]:
#3. 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체하시오 
mode_f3 = df["f3"].mode()
mode_f3

df["f3"].fillna(mode_f3[0], inplace = True)
df.isnull().sum()

id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         2
dtype: int64

In [2]:
#1. 결측치가 가장 많은 두 컬럼을 찾으시오 
df.isnull().sum()

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64

In [3]:
df.head(10)

     id   age city     f1  f2      f3    f4         f5  subscribed    views
0  id01   2.0   서울    NaN   0    gold  ENFJ  91.297791  2024-07-16   6820.0
1  id02   9.0   서울   70.0   1     NaN  ENFJ  60.339826  2024-05-12   2534.0
2  id03  27.0   서울   61.0   1    gold  ISTJ  17.252986  2024-03-16   7312.0
3  id04  75.0   서울    NaN   2     NaN  INFP  52.667078  2024-07-21    493.0
4  id05  24.0   서울   85.0   2     NaN  ISFJ  29.269869  2024-03-07   1338.0
5  id06  22.0   서울   57.0   0     vip  INTP  20.129444  2024-09-12  21550.0
6  id07  36.3   서울   60.0   1     NaN  ISFJ   9.796378  2024-01-11     61.0
7  id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
8  id09   3.3   서울   35.0   2     NaN  ESFJ  17.252986  2024-03-21   2764.0
9  id10  95.0   서울   74.0   1    gold  ISFP  98.429899  2024-04-03   9992.0

In [4]:
df.dropna(subset = ["f1"], inplace = True)
df.head(10)

       id   age city     f1  f2      f3    f4         f5  subscribed    views
1    id02   9.0   서울   70.0   1     NaN  ENFJ  60.339826  2024-05-12   2534.0
2    id03  27.0   서울   61.0   1    gold  ISTJ  17.252986  2024-03-16   7312.0
4    id05  24.0   서울   85.0   2     NaN  ISFJ  29.269869  2024-03-07   1338.0
5    id06  22.0   서울   57.0   0     vip  INTP  20.129444  2024-09-12  21550.0
6    id07  36.3   서울   60.0   1     NaN  ISFJ   9.796378  2024-01-11     61.0
7    id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
8    id09   3.3   서울   35.0   2     NaN  ESFJ  17.252986  2024-03-21   2764.0
9    id10  95.0   서울   74.0   1    gold  ISFP  98.429899  2024-04-03   9992.0
10  id100  47.0   경기   53.0   0     vip  ESFP  33.308999  2024-02-21  15535.0
11   id11  40.0   서울   68.0   0    gold  ENFP  98.429899  2024-10-29   6752.0

In [5]:
df.isnull().sum()

id             0
age            0
city           0
f1             0
f2             0
f3            19
f4             0
f5             0
subscribed     0
views          2
dtype: int64