In [53]:
import pandas as pd 

# 데이터 불러오기
df = pd.read_csv("type1_data1.csv")

# 1. 주어진 데이터에서 문자 자료형 컬럼을 삭제하시오. 
# 2. 숫자 자료형 컬럼의 결측치를 0으로 대체하시오. 
# 3. 각 행의 합이 3000보다 큰 값의 개수를 정수로 구하시오
# (각 행의 합: "age" + "f1" + "f2" + "f5" + "views")

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

In [55]:
# select_dtypes 

df = df.select_dtypes(exclude="object")

In [56]:
# 2. 숫자 자료형 컬럼의 결측치를 0으로 대체하시오. 
df = df.fillna(0)
df.isnull().sum().sum()

np.int64(0)

In [63]:
# 3. 각 행의 합이 3000보다 큰 값의 개수를 정수로 구하시오
# (각 행의 합: "age" + "f1" + "f2" + "f5" + "views")

df.head()


df = df.T

df.head()

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
age,2.000000,9.000000,27.000000,75.000000,24.000000,22.000000,36.300000,38.00000,3.300000,95.000000,...,21.0,22.0,22.0,22.0,22.0,22.0,23.0,23.0,23.0,24.0
f1,0.000000,70.000000,61.000000,0.000000,85.000000,57.000000,60.000000,101.00000,35.000000,74.000000,...,78.0,45.0,65.0,45.0,34.0,23.0,65.0,12.0,65.0,94.0
f2,0.000000,1.000000,1.000000,2.000000,2.000000,0.000000,1.000000,1.00000,2.000000,1.000000,...,1.0,2.0,2.0,2.0,2.0,0.0,0.0,1.0,2.0,1.0
f5,91.297791,60.339826,17.252986,52.667078,29.269869,20.129444,9.796378,83.68538,17.252986,98.429899,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
views,6820.000000,2534.000000,7312.000000,493.000000,1338.000000,21550.000000,61.000000,3260.00000,2764.000000,9992.000000,...,6790.0,2112.0,7894.0,9877.0,10346.0,9747.0,5628.0,1267.0,6543.0,2356.0

In [66]:
result = df.sum() > 3000
result.sum()

np.int64(88)

In [58]:
# df["hap"] = df["age"] + df["f1"] + df["f2"] + df["f5"] + df["views"]
# df.head()
# cond = df["hap"] > 3000
# df = df[cond]
# len(df)
# df.shape