In [1]:
import pandas as pd 

# 데이터 불러오기
df = pd.read_csv("type1_data1.csv")


# 1. "views" 컬럼의 1사분위수, 3사분위수, iqr구하시오
# (iqr = 3사분위수 - 1사분위수)
# 2. 이상치 조건에 맞는 데이터를 찾으시오 
# (이상치는 1사분위수 - (iqr *1.5)보다 작은 값고 3사분위 + (iqr * 1.5)보다 큰값)
# 3. 이상치 데이터의 "views" 컬럼 합을 정수로 구하시오

In [2]:
df.head(3)

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0

In [5]:
q3 = df["views"].quantile(0.75)
q1 = df["views"].quantile(0.25)
iqr = q3 - q1 
iqr

np.float64(5442.5)

In [8]:
# 2. 이상치 조건에 맞는 데이터를 찾으시오 
# (이상치는 1사분위수 - (iqr *1.5)보다 작은 값고 3사분위 + (iqr * 1.5)보다 큰값)

line1 = q1 - (iqr * 1.5)
line2 = q3 + (iqr * 1.5) 

cond1 = df["views"] < line1
cond2 = df["views"] > line2

df = df[cond1 | cond2]

In [11]:
# 3. 이상치 데이터의 "views" 컬럼 합을 정수로 구하시오 
int(df["views"].sum())

77699