In [85]:
import pandas as pd 

# 데이터 불러오기
df = pd.read_csv("type1_data2.csv", index_col=0)

# 1. index "2001" 데이터(행)에서 평균보다 큰 값의 개수를 구하시오 
# 2. index "2003" 데이터(행)에서 평균보다 작은 값의 개수를 구하시오 
# 두 개수를 더하시오.

In [86]:
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
year,,,,,,,,,,,,,,,,,,,,,
2000,137,74,114,140,80,150,16,133,178,181,...,124,94,118,12,50,191,137,174,56,128
2001,176,87,64,110,128,16,8,4,123,87,...,59,22,3,108,17,104,101,161,156,43
2002,128,132,123,112,134,160,180,47,115,155,...,160,111,116,75,48,51,81,101,194,73
2003,78,45,26,50,177,119,47,72,163,125,...,163,88,52,79,192,83,5,75,196,119
2004,1,162,124,12,1,126,58,123,186,161,...,100,93,86,12,115,72,29,30,88,150

In [87]:
df = df.T
df

year  2000  2001  2002  2003  2004
0      137   176   128    78     1
1       74    87   132    45   162
2      114    64   123    26   124
3      140   110   112    50    12
4       80   128   134   177     1
..     ...   ...   ...   ...   ...
195    191   104    51    83    72
196    137   101    81     5    29
197    174   161   101    75    30
198     56   156   194   196    88
199    128    43    73   119   150

[200 rows x 5 columns]

In [90]:
m1 = df[2001].mean()
sum(df[2001] > m1)

100

In [91]:
m2 = df[2003].mean()
sum(df[2003] < m2)

102

In [73]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
year,,,,,,,,,,,,,,,,,,,,,
2000,137,74,114,140,80,150,16,133,178,181,...,124,94,118,12,50,191,137,174,56,128
2001,176,87,64,110,128,16,8,4,123,87,...,59,22,3,108,17,104,101,161,156,43
2002,128,132,123,112,134,160,180,47,115,155,...,160,111,116,75,48,51,81,101,194,73
2003,78,45,26,50,177,119,47,72,163,125,...,163,88,52,79,192,83,5,75,196,119
2004,1,162,124,12,1,126,58,123,186,161,...,100,93,86,12,115,72,29,30,88,150

In [ ]:
# 2001 행의 평균
mean_2001 = df.loc[2001].mean()

In [82]:
cond1 = df.loc[2001] > mean_2001 
result1 = sum(cond1) 
result1

100

In [84]:
# . index "2003" 데이터(행)에서 평균보다 작은 값의 개수를 구하시오 

mean_2003 = df.loc[2003].mean()
cond2 = df.loc[2003] < mean_2003
result2 = sum(cond2)
result2

102