In [22]:
import pandas as pd 

# 데이터 불러오기
df = pd.read_csv("type1_data1.csv")

# 1. "views" 컬럼의 표준편차를 구하시오 
# 2. "age" 컬럼의 이상치(소수점 나이, 음수 나이, 0살) 제거하고, "views"컬럼의 표준편차를 구하시오.
# 3. 이상치 제거 전후의 'views" 컬럼의 표준편차를 더하여, 반올림 후 소수 둘째 자리까지 구하시오.

In [25]:
# 1. "views" 컬럼의 표준편차를 구하시오 
result1 = df["views"].std()

In [29]:
# 2. "age" 컬럼의 이상치(소수점 나이, 음수 나이, 0살) 제거하고, 
# "views"컬럼의 표준편차를 구하시오.

cond = df["age"] <= 0
df = df[~cond]

In [34]:
df["age"].value_counts()

age
21.0    7
22.0    7
75.0    4
23.0    4
97.0    3
       ..
54.0    1
21.8    1
84.0    1
39.0    1
1.0     1
Name: count, Length: 68, dtype: int64

In [48]:

cond = df["age"] == round(df["age"], 0)

# 7.0       ==    round(7.0, 0)
# 7.1       ==    round(7.1, 0)
# 8.0       ==    round(8.0, 0)
# 8.5       ==    round(8.5   , 0)

# 7.0 == 7 
# 7.1 == 7 
# 8.0 == 8
# 8.5 == 9

df = df[cond]
df["age"].value_counts()

age
22.0    7
21.0    7
23.0    4
75.0    4
77.0    3
       ..
89.0    1
6.0     1
84.0    1
39.0    1
1.0     1
Name: count, Length: 62, dtype: int64

In [41]:
df["age"] == round(df["age"], 0)

0      True
1      True
2      True
3      True
4      True
       ...
115    True
116    True
117    True
118    True
119    True
Name: age, Length: 116, dtype: bool

In [49]:
result2 = df["views"].std()
result2

np.float64(4175.681776173446)

In [50]:
result1

np.float64(4121.626455600415)

In [51]:
# 3 
round(result1 + result2, 2)

np.float64(8297.31)