In [6]:
import pandas as pd

data = {
    "A" : ["데이터 분석", "기본 학습서", "퇴근 후 열공"], 
    "B" : [10, 20, 30], 
    "C" : ["ab cd", "AB CD", "ab cd "]
}

df = pd.DataFrame(data)
df

         A   B       C
0   데이터 분석  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30  ab cd

In [8]:

df["A"] = df["A"].str.replace("분석", "시각화")
df

         A   B       C
0  데이터 시각화  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30  ab cd